/* @import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap"); */

.snow {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -100px;
}

.title {
  color: #fff;
  font-family: "Lobster";
  font-weight: lighter;
}

@keyframes fall {
  0% {
    top: -100px;
  }

  100% {
    top: 99.5vh;
  }
}
